:root {
    --white: #ffffff;
    --off-white: #e5e5e5;
    --transp-white-1: rgba(255, 255, 255, 0.25);
    --transp-white-2: rgba(255, 255, 255, 0.18);
    --blue-1: #62b8f5;
    --blue-2: #4475ef;
    --shadow: rgba(3, 46, 87, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url('https://images.pexels.com/photos/3008509/pexels-photo-3008509.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
}

h1 {
    text-align: center;
    color: rgb(5, 41, 51);
    margin-bottom: 15px;
}

h2 {
    font-size: 2rem;
}

form {
    display: grid;
    grid-template-columns: 72% 25%;
    grid-gap: 3%;
}

.container {
    width: 50%;
    background: var(--transp-white-2);
    backdrop-filter: blur(10px);
    margin: 5rem auto;
    padding: 2rem;
    border: 2px solid var(--transp-white-2);
    border-radius: 10px;
    color: rgb(5, 41, 51);
    height: 600px;
}

input, .btn ::placeholder {
    background-color: transparent;
    padding: .5rem;
    border-radius: 10px;
    outline: none;
    border: 1px solid white;
}

.btn {
    padding: .5rem 1rem;
    border: 2px solid #04009A;
    cursor: pointer;
    transition: .3s;
    color: var(--blue-2);
    background-color: transparent;
    border-radius: 0.3em;
}

.btn:hover {
    transform: translateY(-3px);
    background-color: rgb(5, 41, 51);
    color: #fff;
}

.weather {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.left, .right {
    width: 100%;
    padding: .3rem;
    border-radius: 10px;
    line-height: 3;
    background: var(--transp-white-2);
    backdrop-filter: blur(10px);
}

.temp {
    text-align: center;
    margin-top: 15px;
}

.city {
    margin-top: -22px;
    text-align: center;
}

.condition {
    text-align: center;
    font-size: 20px;
    color: rgb(5, 41, 51);
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 80%;
    }
}

@media only screen and (max-width: 700px) {
    .weather {
        flex-direction: column;
        height: auto;
    }

    .container {
        text-align: center;
        width: 90%;
        height: auto;
    }

    .right {
        margin-top: .5rem;
    }

    form {
        grid-template-columns: 100%;
    }
}
